#text_header{
    text-align: center;
    padding-bottom: 10px;
}
.btn_links {
    display: flex;
    justify-content: center;
}

.btn_links button {
    margin-right: 12px;
    border: solid 1px;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    text-decoration: none;
    border-color: black;
}

.btn_links button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#cont{
    padding-top: 25px;
}